<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %} {% block content %}

<head>

    <title>EHR Doctor - Dashboard</title>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="./">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3"> EHR Doctor</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="./">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>View Patients</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Viewing:</h6>
                        <a class="collapse-item" href="buttons.html">Pending Patient</a>
                        <a class="collapse-item" href="buttons.html">Current Patient</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Utilities</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="utilities-color.html">Colors</a>
                        <a class="collapse-item" href="utilities-border.html">Borders</a>
                        <a class="collapse-item" href="utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="utilities-other.html">Other</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="/login">Login</a>
                        <a class="collapse-item" href="/register">Register</a>
                        <a class="collapse-item" href="/forgot-password">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="/404">404 Page</a>
                        <a class="collapse-item" href="/blank">Blank Page</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/charts">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/tables">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{g.user['last_name']}}</span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i> Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!--Start of Viewing Pending Patient-->
                    <div class='card mb-3' id="pending_patient">
                        <div class="card-header py-2 mb-3">
                            <h6 class="m-0 font-weight-bold text-primary">My Pending Patient List</h6>
                        </div>

                        <div class="card-group" style="height:300px">

                            <div class='card col-2 mb-4'>
                                <div style="height:300px; overflow-y:scroll;">
                                    <div id="pending_list" class="list-group">
                                        {% for p in pending %}
                                        <a class="list-group-item list-group-item-action" style="font-size: 12px" onclick="view_appointment('{{ p[ 'id' ]}}', '{{ p[ 'last_name' ]}}' + ' ' + '{{ p[ 'first_name' ]}}', '{{ p[ 'start_time' ]}}', '{{ p[ 'duration' ]}}', '{{ p[ 'location' ]}}')">
                                                {{p["last_name"] + " " + p["first_name"]}}
                                        </a>
                                        {% endfor %}
                                        <strong id="current_patient_id_pending" hidden>init</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Start of Doctor Info-->
                            <div class='card mb-4' id='appointment-info' style="height:300px; overflow-y:scroll;">
                                <div class="btn-group">
                                    <form>
                                        <button id="accept" class="btn-warning" type="submit" onclick="accept_appointment()" disabled>Accept as New Patient</button>
                                    </form>
                                </div>

                                <!--Start of Doctor Profile-->
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="well profile" id="appointment-profile" hidden>
                                            <h2 id="patient_pending"></h2>
                                            <p><strong>Start From: </strong></p>
                                            <p id="start_time_pending">
                                            </p>
                                            <p><strong>Duration: </strong> </p>
                                            <p id="duration_pending">
                                            </p>
                                            <p><strong>Location: </strong> </p>
                                            <p id="location_pending">
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <!--End of Doctor Profile-->


                            </div>
                            <!--End of Doctor Info-->

                        </div>
                    </div>
                    <!--End of Viewing Pending Patient-->


                     <div class="row">
                            <div class="col-md-12">
                                <div class="card acik-renk-form" id="new-provider">
                                    <div class="card-body">
                                        <div class="userData">
                                            <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">Set up your Appointment time </h2>
                                            <h6 class="d-block">Select your date and duration for a quick setup</h6>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group ">
                                                    <input type='datetime-local' class="form-control" id='appointment_date_new' required>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group ">
                                                    <select id="duration_new" class="form-control">
                                                        <option value="None" selected>Duration</option>
                                                        <option value="30">30 minutes</option>
                                                        <option value="60">60 minutes</option>
                                                        <option value="30">90 minutes</option>
                                                        <option value="60">120 minutes</option>
                                                        <option value="60">150 minutes</option>
                                                        <option value="60">180 minutes</option>
                                                        <option value="60">210 minutes</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group ">
                                                    <select id="arac-turu2" class="form-control">
                                                                <option selected>Your Field</option>
                                                                <option>Medicine</option>
                                                                <option>Surgery</option>
                                                            </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Your appointment description">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-primary  pl-5 pr-5" onclick="add_schedule()">Setup</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <!--End of Appointment Interface-->

                
                    <!--Start of Viewing Current Patient-->
                    <div class='card mb-3' id="view_doctor">
                        <div class="card-header py-2 mb-3">
                            <h6 class="m-0 font-weight-bold text-primary">My Current Patient List</h6>
                        </div>

                        <!-- Start of Doctor List Search-->

                        <!--End of Doctor List Search-->

                        <div class="card-group" style="height:300px">

                            <div class='card col-2 mb-4'>
                                <div id="" style="height:300px; overflow-y:scroll;">
                                    <div id="doctor_list" class="list-group">
                                        {% for a_p in accept %}
                                        <a class="list-group-item list-group-item-action" style="font-size: 12px" onclick="view_accepted_appointment('{{ a_p[ 'id' ]}}', '{{ a_p[ 'last_name' ]}}' + ' ' + '{{ a_p[ 'first_name' ]}}', '{{ a_p[ 'start_time' ]}}', '{{ a_p[ 'duration' ]}}', '{{ a_p[ 'location' ]}}')">
                                            {{a_p["last_name"] + " " + a_p["first_name"]}}
                                        </a> {% endfor %}
                                        <strong id="current_patient_id_accepted" hidden>init</strong>

                                    </div>
                                </div>
                            </div>
                            <!--Start of Doctor Info-->
                            <div class='card col-6 mb-4' id='doctor_information' style="height:300px; overflow-y:scroll;">
                                <div class="btn-group">
                                    <button class="btn-primary">Edit</button>
                                    <button class="btn-primary">Save</button>
                                    <form id="delete_form">
                                        <button id="delete_doctor_button" class="btn-warning" type="submit" onclick="delete_doctor()" disabled>Checke out</button>
                                    </form>
                                </div>

                                <!--Start of Doctor Profile-->
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="well profile" id="appointment-profile_accepted" hidden>
                                            <h2 id="patient_accepted"></h2>
                                            <p><strong>Start From: </strong></p>
                                            <p id="start_time_accepted">
                                            </p>
                                            <p><strong>Duration: </strong> </p>
                                            <p id="duration_accepted">
                                            </p>
                                            <p><strong>Location: </strong> </p>
                                            <p id="location_accepted">
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <!--End of Doctor Profile-->


                            </div>

                            <!--Start of Input Box-->
                            <div class='card col-6 mb-4' id='doctor_information2'>
                                <textarea style="height:230px; overflow-y:scroll;">
                                </textarea>
                                <button class="btn-primary">Prescribe</button>
                                <button class="btn-primary">Diagnosis</button>
                            </div>
                            <!--End of Input Box-->
                            <!--End of Doctor Info-->

                        </div>

                        <!--End of View Doctor-->
                    </div>
                    <!--End of viewing Current Patient-->

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/login">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/static/js/demo/chart-area-demo.js"></script>
    <script src="/static/js/demo/chart-pie-demo.js"></script>

</body>
<script>
    function view_appointment(patient_id, patient_name, start_time, duration, location) {
        document.getElementById("current_patient_id_pending").textContent = patient_id;
        document.getElementById("patient_pending").textContent = patient_name;
        document.getElementById("start_time_pending").textContent = start_time;
        document.getElementById("duration_pending").textContent = duration + ' minutes';
        document.getElementById("location_pending").textContent = location;
        document.getElementById("appointment-profile").hidden = false;
        document.getElementById("accept").disabled = false;
    }

    function view_accepted_appointment(patient_id, patient_name, start_time, duration, location) {
        document.getElementById("current_patient_id_accepted").textContent = patient_id;
        document.getElementById("patient_accepted").textContent = patient_name;
        document.getElementById("start_time_accepted").textContent = start_time;
        document.getElementById("duration_accepted").textContent = duration + ' minutes';
        document.getElementById("location_accepted").textContent = location;
        document.getElementById("appointment-profile_accepted").hidden = false;
    }

    function accept_appointment() {
        const patient_id = document.getElementById("current_patient_id_pending").textContent;
        const start_time = document.getElementById("start_time_pending").textContent;

        console.log("start_time:", start_time);


        if (patient_id != "init"){
            if (confirm("Are you sure?")){
                $.ajax({
                type: 'POST',
                contentType:'application/json;charset-utf-08',
                dateType: 'json',
                url: "http://127.0.0.1:5000/doctor/accept_appointment?patient_id="+patient_id
                    + '&doctor_id='+ {{ doctor_id }}
                    + '&start_time='+ start_time
            });
            }
        }
    }

    function add_schedule(){
        const time = document.getElementById("appointment_date_new").value;
        const duration = document.getElementById("duration_new").value;
        const doctor_id = "{{g.user['id']}}";
        console.log(doctor_id);
        if (time != "" && duration != "None"){
            if (confirm("Are you sure?")){
                $.ajax({
                type: 'POST',
                contentType:'application/json;charset-utf-08',
                dateType: 'json',
                url: "http://127.0.0.1:5000/doctor/set_schedule?duration="+duration
                    + '&doctor_id='+ {{ doctor_id }}
                    + '&start_time='+ time
            });
            }
        }
    }
</script>
{% endblock %}

</html>