<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}

<head>

    <title>EHR Patient - Dashboard</title>
<style>

.alert {
  padding: 20px;
  background-color: #ff8000;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>

</head>

<body id="page-top">
{% if need_appointment == True %}
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>Warning!</strong> Please make an appointment with doctor since you haven't done it for 30 days.
    </div>
{% endif %}
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">EHR Patient</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Main</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Your Information</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" onclick="show_patient_info()">Basic Information</a>
                        <a class="collapse-item" onclick="show_provider()">Your provider</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter"></span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>

                                <div id="messagehtml">

                                </div>
                                <a class="dropdown-item text-center small text-gray-500" href="./message">Read More Messages</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - warning -->
                            </a>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{g.user['first_name']}}</span>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!--Start of Patient Information-->
                    <div class="container" id="patient-info">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">

                                    <div class="card-body">
                                        <div class="card-title mb-4">
                                            <div class="d-flex justify-content-start">
                                                <div class="userData">
                                                    <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">Hello, {{g.user['first_name']}}!</h2>
                                                    <h6 class="d-block">Registered Email: <a>{{g.user['email']}}</a></h6>
                                                </div>
                                                <div class="ml-auto">
                                                    <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12">
                                                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices" role="tab" aria-controls="connectedServices" aria-selected="false">Medical History</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content ml-1" id="myTabContent">
                                                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">

                                                        <form method="post" action="{{ url_for('patient.edit_info') }}">
                                                        <div class="row">
                                                            <div class="col-sm-3 col-md-2 col-5">
                                                                <label style="font-weight:bold;">First Name</label>
                                                            </div>
                                                            <div class="col-md-8 col-6">
                                                                {{g.user['first_name']}}
                                                            </div>
                                                        </div>
                                                        <hr/>

                                                        <div class="row">
                                                            <div class="col-sm-3 col-md-2 col-5">
                                                                <label style="font-weight:bold;">Last Name</label>
                                                            </div>
                                                            <div class="col-md-8 col-6">
                                                                {{g.user['last_name']}}
                                                            </div>
                                                        </div>
                                                        <hr/>

                                                        <div class="row">
                                                            <div class="col-sm-3 col-md-2 col-5">
                                                                <label style="font-weight:bold;">Birth Date</label>
                                                            </div>
                                                            <div class="col-md-8 col-6">
                                                                {{g.user['data_of_birth']}}
                                                            </div>
                                                        </div>
                                                        <hr/>


                                                        <div class="row">
                                                            <div class="col-sm-3 col-md-2 col-5">
                                                                <label style="font-weight:bold;">Gender</label>
                                                            </div>
                                                            <div class="col-md-8 col-6">
                                                                {{g.user['gender']}}
                                                            </div>
                                                        </div>
                                                        <hr />
                                                        <div class="row">
                                                            <div class="col-sm-3 col-md-2 col-5">
                                                                <label style="font-weight:bold;">Weight</label>
                                                            </div>
                                                            <div class="col-md-8 col-6">
                                                                <input name="weight" value="{{g.user['weight']}}">
                                                            </div>
                                                        </div>
                                                        <hr />
                                                        <div class="row">
                                                            <div class="col-sm-3 col-md-2 col-5">
                                                                <label style="font-weight:bold;">Height</label>
                                                            </div>
                                                            <div class="col-md-8 col-6">
                                                                <input name="height" value="{{g.user['height']}}">
                                                            </div>
                                                        </div>
                                                        <hr />

                                                        <div class="row">
                                                            <div class="col-sm-3 col-md-2 col-5">
                                                                <label style="font-weight:bold;">Emergency Contact</label>
                                                            </div>
                                                            <div class="col-md-8 col-6">
                                                                <input name="emergency_contacts" value="{{g.user['emergency_contacts']}}">
                                                            </div>
                                                        </div>
                                                        <hr/>
                                                        <div>
                                                            <input type="submit" value="Edit" class="col-2 btn btn-primary btn-user btn-block">
                                                        </div>
                                                        </form>

                                                    </div>
                                                    <div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                                                        <div class="container mt-5 mb-5">
                                                            <div class="row">
                                                                <div class="container-fluid">
                                                                    <h4>Medical History</h4>
                                                                    <ul class="timeline">
                                                                        {% for his in medical_his %}
                                                                            <li>
                                                                                <h6>{{ his['start_time'] }}</h6>
                                                                                <br>
                                                                                {% for block in his['medical_his'] %}
                                                                                <p>{{ block }}</p>
                                                                                {% endfor %}
                                                                            </li>
                                                                        {% endfor %}

                                                                        <!--End of Doctor Diagnosis-->
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of Patient Information-->


                    <!--My Current Providers-->
                    <hr/>
                    <div class="container" id="current-provider" hidden disabled>
                        <div class="card col-md-12">
                            <br>
                            <div class="userData">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">Make An Appointment with Your Current Provider </h2>
                                <h6 class="d-block">Select your date for a quick appointment</h6>
                                </br>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <select id="my_provider_schedule" class="form-control" onchange="select_schedule_for_my_provider(this.options[this.selectedIndex].value, this.options[this.selectedIndex].textContent)">
                                            <option value="None" selected>Choose the time you want</option>
                                            {% if my_provider_schedule %}
                                            {% for s in my_provider_schedule %}
                                            {% if s["occupied"] == False %}
                                            <option value="valid">{{s["start_time"]}}, {{s["duration"]}}min</option>
                                            {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                        <p id="selected_schedule_duration" hidden>init</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <select id="arac-turu1" class="form-control">
                                            <option selected>Appointment Type</option>
                                            <option>Diagnosis</option>
                                            <option>Treatment</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group ">
                                        <input type="text" class="form-control" placeholder="What you wanna tell your doctor before appointment">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <button type="button" class="btn btn-primary  pl-5 pr-5" onclick="make_appointment_with_my_provider()">Send Request</button>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">My Provider Information</h2>
                            <br>
                            <div class="row">
                                <div class="col-md-6 details">
                                    <h2>Name</h2>
                                    <blockquote>
                                        <h5 id="current_doctor_name"></h5>
                                    </blockquote>
                                    <h2>Introduction</h2>
                                    <p id="current_doctor_intro">

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <!--End of My Current Providers-->


                    <!--Start of Appointment Interface-->
                    <div class="container-fluid">
                        <div class="row text-center pb-4">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card acik-renk-form" id="new-provider" hidden disabled>
                                    <div class="card-body">
                                        <div class="userData">
                                            <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">Find Your Professional Provider</h2>
                                            <h6 class="d-block">Select your date for a quick first meet</h6>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group ">
                                                    <input type='datetime-local' class="form-control" id='appointment_date_new' required>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group ">
                                                    <select id="duration_new" class="form-control">
                                                        <option value="None" selected>Appointment Duration</option>
                                                        <option value="30">30 minutes</option>
                                                        <option value="60">60 minutes</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group ">
                                                    <select id="arac-turu2" class="form-control">
                                                                <option selected>Doctor Field</option>
                                                                <option>Medicine</option>
                                                                <option>Surgery</option>
                                                            </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Input doctor name..." id="input_doctor_new">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-primary  pl-5 pr-5" onclick="search()">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--start of doctor list-->
                                    <div class="card-group" style="height:300px">

                                        <div class='card col-3 mb-4'>
                                            <div id="" style="height:300px; overflow-y:scroll;">
                                                <div id="doctor_list" class="list-group">
                                                    {% for doctor in all_doctors %}
                                                    {% if doctor["occupied"] == False %}
                                                    <a id="{{doctor['last_name']}} {{doctor['first_name']}} {{doctor['start_time']}}:{{doctor['duration']}}min" class="list-group-item list-group-item-action bg-primary text-white" style="font-size: 12px;" onclick="view_profile('{{ doctor[ 'id' ]}}', '{{ doctor[ 'last_name' ]}}' + ' ' + '{{ doctor[ 'first_name' ]}}', '{{ doctor[ 'field' ]}}', '{{ doctor[ 'introduction' ]}}', '{{ doctor[ 'rate' ]}}', '{{doctor['start_time']}}', '{{doctor['duration']}}')">
                                                        <br>{{doctor["last_name"] + " " + doctor["first_name"]}}
                                                        <br>{{doctor["start_time"]}}
                                                        <br>{{doctor["duration"]}}min
                                                    </a>
                                                    {% endif %}
                                                    {% endfor %}
                                                    <strong id="current_id" hidden>init</strong>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Start of Doctor Info-->
                                        <div class='card w-75 mb-4' id='doctor_information' style="height:300px; overflow-y:scroll;">
                                            <div class="btn-group">

                                                <button class="btn-primary" id="make-appointment-button" onclick="make_appointment_new()" disabled>Make an appointment</button>

                                            </div>

                                            <!--Start of Doctor Profile-->
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="well profile" id="profile" hidden>
                                                        <h2 id="show_name"></h2>
                                                        <p><strong>About: </strong></p>
                                                        <p id="show_field">
                                                        </p>
                                                        <p><strong>Introduction: </strong> </p>
                                                        <p id="show_intro">
                                                        </p>

                                                    </div>

                                                </div>
                                            </div>
                                            <!--End of Doctor Profile-->

                                        </div>
                                        <!--End of Doctor Info-->
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--End of Appointment Interface-->

                        <!--Start of Payment Interface-->
                        <br>
                        <hr/>
                        <br>

                </div>
                <!-- End of Main Content -->

                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; NYUSH 2019</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
        </div>
    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{{ url_for('auth.logout') }}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

    <script src="/static/js/msg/message.js"></script>

</body>
<!--id="patient-info"-->
<!--id="current-provider"-->
<!--id="new-provider"-->
<script type="text/javascript">
    function view_profile(id, name, field, introduction, rate, time, duration) {
        document.getElementById("current_id").textContent = id;
        document.getElementById("show_name").textContent = name;
        document.getElementById("show_field").textContent = field;
        document.getElementById("show_intro").textContent = introduction;
        document.getElementById("profile").hidden = false;
        document.getElementById("make-appointment-button").disabled = false;
        document.getElementById("appointment_date_new").value = time.replace(' ', 'T');
        document.getElementById("duration_new").value = duration;
        document.getElementById("input_doctor_new").value = name;

    }

    function make_appointment_new() {
        const doctor_id = document.getElementById("current_id").textContent;
        const patient_id = "{{ g.user['id'] }}";
        const start_time = document.getElementById("appointment_date_new").value;
        const duration = document.getElementById("duration_new").value;
        if (doctor_id !== "init" && start_time !== '' && duration !== 'None') {
            if (confirm("Are you sure?")){
                location.href = "http://127.0.0.1:5000/patient/send_appointment?doctor_id=" + doctor_id +
                        '&patient_id=' + patient_id +
                        '&start_time=' + start_time +
                        '&duration=' + duration
            }
        }
    }

    function set_patient_info(state) {
        document.getElementById("patient-info").hidden = !state;
        document.getElementById("patient-info").disabled = !state;
    }

    function set_current_provider(state) {
        document.getElementById("current-provider").hidden = !state;
        document.getElementById("current-provider").disabled = !state;
    }

    function set_new_provider(state) {
        document.getElementById("new-provider").hidden = !state;
        document.getElementById("new-provider").disabled = !state;
    }

    function show_patient_info() {
        set_patient_info(true);
        set_current_provider(false);
        set_new_provider(false);
    }

    function show_provider() {
        set_patient_info(false);
        {% if my_provider %}
            console.log("I have a provider");
            set_new_provider(false);
            set_current_provider(true);
            document.getElementById("current_doctor_name").textContent = "{{ my_provider['last_name'] }}" + " " + "{{ my_provider['first_name'] }}";
            document.getElementById("current_doctor_intro").textContent = "{{ my_provider['introduction'] }}";
        {% else %}
            console.log("I don't have a provider");
            set_new_provider(true);
            set_current_provider(false);
        {% endif %}
    }

    function search() {
        const d = document.getElementById("input_doctor_new").value;
        const time = document.getElementById("appointment_date_new").value.replace('T', ' ');
        const duration = document.getElementById("duration_new").value;
        console.log("here", d, time, duration);

        {% for doctor in all_doctors %}
        {% if doctor['occupied'] == False %}
        console.log("{{doctor['last_name']}}" + " " + "{{ doctor['first_name']}}", "{{doctor['start_time']}}", "{{doctor['duration']}}");
            if (d === "{{doctor['last_name']}}" + " " + "{{ doctor['first_name']}}" && time == "{{doctor['start_time']}}"&& duration == "{{doctor['duration']}}"){
                console.log("here2", d, time, duration);
                document.getElementById("{{doctor['last_name']}} {{doctor['first_name']}} {{doctor['start_time']}}:{{doctor['duration']}}min").hidden = false;

            }
            else {
                document.getElementById("{{doctor['last_name']}} {{doctor['first_name']}} {{doctor['start_time']}}:{{doctor['duration']}}min").hidden = true;
            }
        {% endif %}
        {% endfor %}
    }

    function select_schedule_for_my_provider(value, schedule_duration) {
        console.log(value, schedule_duration);
        if (value === "valid") {
            document.getElementById("selected_schedule_duration").textContent = schedule_duration;
        }
        else {
            document.getElementById("selected_schedule_duration").textContent = 'init';
        }

    }

    function make_appointment_with_my_provider(){
        const schedule_duration = document.getElementById("selected_schedule_duration").textContent;
        const doctor_id = "{{my_provider['id']}}";
        if (schedule_duration !== 'init') {
            if (confirm("Are you sure?")) {
                location.href = "http://127.0.0.1:5000/patient/make_appointment_with_current_provider?doctor_id=" + doctor_id +
                        '&schedule_duration=' + schedule_duration
            }
        }

    }


</script>

<script type="text/javascript">
    let usr = {
        fn:"{{ g.user["first_name"] }}",
        ln:"{{ g.user["last_name"] }}",
        email:"{{ g.user["email"] }}"
    };

    $("#messagesDropdown > i").click(function(){
        $.getJSON("http://127.0.0.1:5000/auth/api/emergency", function( doctor ) {
            $.post( "http://127.0.0.1:3000/api/emergency", {doctors: doctor.doctors, user:usr})
                .done(function( data ) {
                console.log(data);
  });
        });
    })




</script>

{% endblock %}

</html>