<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block content %}
<head>

    <title>SB Admin 2 - Forgot Password</title>

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">
                <center>
                <div class="card o-hidden border-0 shadow-lg my-5" style="width: 500px">
{#                    <div class="card-body p-0">#}
                        <!-- Nested Row within Card Body -->
                        <div class="row" style="width: 500px">
{#                            <div class="col-lg-6">#}
                                <div class="p-5" style="width: 500px">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                                        <p class="mb-4">We get it, stuff happens. Just enter your email address below and
                                        we will let you reset your password</p>
                                    </div>
                                    <form class="user" action="{{ url_for('auth.forget_password') }}" method="post">
                                        <div>
                                            <select id="user_type" name="user_type" class="form-group custom-select">
                                                <option value="patient">I am a patient.</option>
                                                <option value="doctor">I am a doctor.</option>
                                                <option value="admin">I am an admin.</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Enter Email Address..." required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Enter New Password..." required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="repeated_password" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Enter New Password Again..." required>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary btn-user btn-block" value="Reset Password">
                                        </div>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{{ url_for('auth.register') }}">Create an Account!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{{ url_for('auth.login') }}">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </center>
                    </div>
                </div>

            </div>

        </div>

{#    </div>#}

</body>
{% endblock %}
</html>