<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block content %}
<head>

    <title>EHR Login</title>

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
<!--                        <div class="row">-->
<!--                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>-->
                        <center>
                            <div class="col-lg-6">

                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form class="user" method="POST">

                                        <div class="form-group">
                                            <select class="custom-select" name="login_type" id="login_type">
                                                <option value="patient">I am a patient.</option>
                                                <option value="admin">I am an admin.</option>
                                                <option value="doctor">I am a doctor.</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                                        </div>

                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Password">
                                        </div>

                                        <input type="submit" id="login" class="btn btn-primary btn-user btn-block">

                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/forgot-password">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{{ url_for('auth.register')}}">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
<!--                        </div>-->
                        </center>
                    </div>
                </div>

            </div>

        </div>

    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

</body>
{% endblock %}
</html>